header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC solid;
}
.logo{
    background: url('../images/logo.png') no-repeat center;
    text-align: left;
    margin-left: 20px;
    height: 70px;
    width: 142px;
}